/* .content > h1
  border-bottom  3px solid rgb(0, 172, 193)
  padding 20px 0px 20px 0px;
  font-size 24px
  
.content > h2
  border-bottom  2px solid rgb(0, 172, 193)
  padding 15px 0px 15px 0px;
  font-size 20px
 
 .content > p {
  margin: 15px 0px 15px 0px;
}
 
.content .custom-block.tip, .content .custom-block.warning, .content .custom-block.danger{
  padding: 0px;
 } 
 
.custom-block p:nth-child(1) {
  text-indent: 0em;
  margin: 30px 0px 0px 0px;
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  font-weight: bold;
}

.custom-block p:nth-child(2) {
  padding: 10px 20px;
  margin: 0px 0px 30px 0px;
}

.custom-block.tip p:nth-child(1) {
  background-color: #f3f5f7;
  border-left: 5px solid #42b983;
}

.custom-block.tip p:nth-child(2) {
  background-color: #f3f5f7;
  border-left: 5px solid #42b983;
}

.custom-block.warning p:nth-child(1) {
  border-left: 5px solid #ffe564;
  background-color: rgba(255, 229, 100, 0.3);
}

.custom-block.warning p:nth-child(2) {
  background-color: rgba(255, 229, 100, 0.3);
  border-left: 5px solid #ffe564;
}

.custom-block.danger p:nth-child(1) {
  border-left: 5px solid red;
  background-color: #ffe6e6;
}

.custom-block.danger p:nth-child(2) {
  background-color: #ffe6e6;
  border-left: 5px solid red;
}

code[class*="language-"],
pre[class*="language-"] {
  font-size: 14px;
} */

#main-title {
  max-width: 35rem;
  font-size: 1.6rem;
  line-height: 1.3;
  color: #6a8bad;
}

.home .hero .action-button {
  display: inline-block;
  font-size: 1.0rem !important;
  color: #fff;
  background-color: #3eaf7c;
  padding: 0.4rem 0.8rem !important;
  border-radius: 4px;
  -webkit-transition: background-color 0.1s ease;
  transition: background-color 0.1s ease;
  box-sizing: border-box;
  border-bottom: 1px solid #389d70;
}

.home .footer {
    padding: 1.5rem !important;
    border-top: 1px solid #eaecef;
    text-align: center;
    color: #4e6e8e;
}

h1 {
  border-bottom  3px solid rgb(0, 172, 193);
  padding 20px 0px 20px 0px;
  font-size: 1.45rem;
}

h2 {
  border-bottom  2px solid rgb(0, 172, 193);
  padding 15px 0px 15px 0px;
  font-size: 1.25rem;
}

h3 {
    font-size: 1.1rem;
}

blockquote {
  font-size: 0.9rem;
  color: #000;
  border-left: 0.2rem solid rgb(0, 172, 193);
  /* font-weight: bold; */
}

a.sidebar-link {
  font-size: 1.0em !important;
  font-weight: 500 !important;
  line-height: 1.4 !important;
}

a.sidebar-link.active {
  font-weight: bold !important;
}

.sidebar-sub-headers a.sidebar-link {
  font-size: 0.93em !important;
}

.sidebar-sub-headers a.sidebar-link.active {
  font-weight: 500 !important;
}

.sidebar-links li:not(:first-child) {
  margin-top: 0rem !important;
}

/* layout */

.theme-default-content:not(.custom) {
  padding: 1rem 2.5rem !important;
}

.page-nav .inner {
  border-top: 1px dashed #3eaf7c !important;
}

/* Valine */

.v {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 1.5rem;
}

.v .vwrap {
  border: 2px dashed rgb(0, 172, 193) !important;
}